<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408320655405-2t3ljs0ctf3plav5pnv23qv1hsv7kvu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408320655405-2t3ljs0ctf3plav5pnv23qv1hsv7kvu9</string>
	<key>API_KEY</key>
	<string>AIzaSyCitwBTSiKGi2RT-6Vak82MPMMB_83l8SM</string>
	<key>GCM_SENDER_ID</key>
	<string>408320655405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-8f648</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-8f648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408320655405:ios:760f3a2cdcbd11397af8a4</string>
</dict>
</plist>